ErrorDocument 404/ /404.shtml
RewriteEngine on
Options All -Indexes
RewriteRule ^404/?$ 404.php [L]
RewriteRule ^index/?$ index.php [L]
RewriteRule ^fasilitas/?$ fasilitas.php [L]
RewriteRule ^profile/?$ profile.php [L]
RewriteRule ^maps/?$ maps.php [L]
RewriteRule ^tipekamar/?$ tipekamar.php [L]
RewriteRule ^contact/?$ contact.php [L]
RewriteRule ^login/?$ login.php [L]
RewriteRule ^register/?$ register.php [L]
RewriteRule ^Machine/record/?$ Machine/rcd.php [L]
RewriteRule ^reg_s?$ Flash/register_flash.php [L]