ErrorDocument 404/ /404.shtml
RewriteEngine on
Options All -Indexes
RewriteRule ^404/?$ 404.php [L]
RewriteRule ^index/?$ index.php [L]
RewriteRule ^fasilitas/?$ fasilitas.php [L]
RewriteRule ^profile/?$ profile.php [L]
RewriteRule ^maps/?$ maps.php [L]
RewriteRule ^tipekamar/?$ tipekamar.php [L]
RewriteRule ^tipekamar/([A-Za-z0-9_-]+)/([A-Za-z0-9_-]+)?$ tipekamar.php?type=$1&id=$2 [L]
RewriteRule ^order/?$ order.php [L]
RewriteRule ^order/([A-Za-z0-9_-]+)/([A-Za-z0-9_-]+)?$ order.php?type=$1&id=$2 [L]
RewriteRule ^contact/?$ contact.php [L]
RewriteRule ^login/?$ login.php [L]
RewriteRule ^register/?$ register.php [L]
RewriteRule ^Machine/record/?$ Machine/rcd.php [L]
RewriteRule ^reg_s?$ Flash/register_flash.php [L]